tr {
	cursor: pointer;
	border: 1px solid rgb(136, 82, 0);
}

.inforow {
	border: none;
	cursor: default;
}
.nopointerrow {
	cursor: default;
}

table{
	table-layout: fixed;
}

table, th, td {
	background-color: bisque;
}
td{
	font-size: 20px;
	color: rgb(100, 60, 0);
	word-wrap: break-word;
}
th{
	color: rgb(100, 60, 0);
	font-style: italic;
}
body{
	background-color: bisque;
}

div{
	background-color: transparent;
}

html{
	background-color: bisque;
}

button {
	background: rgb(136, 82, 0);
	color: bisque;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
}

input{
	background-color: rgb(250, 239, 226);
	color: rgb(100, 60, 0);
	font-size: 20px;
}


select{
	background-color: rgb(250, 239, 226);
	color: rgb(100, 60, 0);
	font-size: 20px;
	cursor: pointer;
}
h1,h2,h3,h4{
	color: rgb(100, 60, 0);
	font-style: italic;
	letter-spacing: 2px;
	font-size: 45px;
}
span{
	color: rgb(100, 60, 0);
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 20px;
}

label{
	color: rgb(100, 60, 0);
	font-size: 20px;
}

.container {
	width: 500px;
	clear: both;
  }
  
.container input {
	width: 100%;
	clear: both;
}
.container select {
	width: 100%;
	clear: both;
}