tr.selected {
	background: rgb(51, 159, 196);
}
tr {
	cursor: pointer;
	border: 1px solid rgb(136, 82, 0);
}

#error {
	color: red;
}

#success {
	color: green;	
}

table, th, td {
	background-color: bisque;
}

div{
	background-color: bisque;
}
html{
	background-color: bisque;
}

button {
	background-color: bisque;
	border-color: 1px solid rgb(136, 82, 0);
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
  }